.newContainer {
    width: 100%;
}
.favoriteBlock{
    position: absolute;
    right: 15px;
    top: 15px;
}

.active{
    width: 50px;
    height: 50px;
    background-image:url('../../assets/cardMovie/active.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.noActive{
    width: 50px;
    height: 50px;
    background-image:url('../../assets/cardMovie/niactive.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



.cardList {
    display: flex;
    align-items: center;
}

.card {
    position: relative;
    width: 200px;
    height: 300px;
    padding: 10px
}


.cardImage {
    width: 100%;
    height: 80%;
}

.cardImage img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 26px;
}