.container {
    width: 200px;
    height: 300px;
}

.singleMovie img {
    max-width: 100%;
    min-height: 100%;
    border-radius: 26px;
}
.movieBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}