.flex {
    display: flex;
    justify-content: space-between;
}

.flex button {
    border: 1px solid #B4BCC4;
    border-radius: 24px;
    padding: 12px 24px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
}